.one {
	margin-top: 0;
	margin-left: 0;
	width: 60%;
	height: 90%;
	background: grey;
	float: left;
}

.one li{
	margin-left: 5%;
}

.two {
	margin-top: 0;
	margin-left: 0;
	height: 90%;
	width: 30%;
	text-align: right;
	background: black;
	float: right;
}

.two li {
	text-align: center;
	margin-left: 2%;
	margin-right: 2%;
}

.sticky {
	top: 0;
	padding: 0;
	margin-top: 0%;
	margin-left: 0;
	width: 90%;
	height: 40px;
	background: aqua;
}

.sticky ul{
	list-style: none;
}

.sticky li{
	display: inline;
}